  /* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    width: 100%;
    height: 100vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    text-align: center;}


/******************************* Page Backgrounds ******************************/
.homebg {
    width: 100%;
    height: 100vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.adminbg {
    background: rgb(165, 118, 241);
    background: linear-gradient(317deg, rgba(165, 118, 241, 1) 0%, rgba(108, 167, 230, 1) 19%, rgba(75, 114, 252, 1) 75%, rgba(172, 23, 212, 1) 100%);
    height: 100vh;
    text-align: center;
}

.levelselect {
    height: 100vh;
    width: 100%;
    height: 100% auto;
    text-align: center;
    padding: 4em;
}


/******************************* h1s ******************************/


.welcomeh1 {
    text-align: center;
    padding-top: 20vh;
    padding-bottom: .2em;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: clamp(4rem, 6vw, 7rem);
    color: #99a3f0;
    background-image: -webkit-linear-gradient(0deg, #7d1ebd 29%, #cf8e7e 99%, #d36529 43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lvlh1 {
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    color: black;


}

.tasksh1 {
    background-image: -webkit-linear-gradient(0deg, #7d1ebd 29%, #cf3a26 99%, #d36529 43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 1vh;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 1000;
    font-size: clamp(4rem, 6vw, 7rem);
    margin-bottom: .5em;
}


.taskh1 {
    background-image: -webkit-linear-gradient(0deg, #bf5129 21%, #9d1196 99%, #d04416 43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    /* font-size: 4.3em; */
    font-size: clamp(3rem, 5vw, 7rem);
    margin-bottom: .4em;
    
}

.vidh1 {
    background-image: -webkit-linear-gradient(0deg, #3925b9 20%, #cf40c8 99%, #d04416 43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: clamp(3rem, 6vw, 7rem);
}

.adminh1 {
    color: purple;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 3em;
}

p {
    color: black;
    text-align: center;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin-bottom: 3em;

}

/******************************* Buttons ******************************/


.adminbutt {
    padding-bottom: 4em;
}

.homebutton {
    padding: 10px;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.beginbutton {
    filter: drop-shadow(0 0 0.75rem crimson);
    background-color: orange;
    color: orange;
}

.levelbutton {

    filter: drop-shadow(0 0 0.75rem crimson);
    margin-bottom: 2em;
    padding: 100px;
}

.taskbutton {
    margin-bottom: 4em;
    font-size: .8em;
    margin-top: 8px;
    z-index: 9999;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}

.check {
    width: 20px;
}

.taskbuttons {
    width: 70px;
    font-size: .9em;
    z-index: 9999;
}

.taskbuttons:hover {
    transform: scale(1.10);
    filter: drop-shadow(0 0 10px rgba(0, 5, 0.319));
    transition: transform .4s; /* Animation */

}




/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}





/******************************************************************/

.tasksbylevel {
    width: 100%;
    height: 131vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 2em;

}



.level1pic {
    width: 30%;
    margin-bottom: 2em;
    transition: transform .4s; /* Animation */

}

.level1pic:hover {
    transform: scale(1.10);
    filter: drop-shadow(0 0 10px rgba(0, 5, 0.319));
}

.level2pic {
    width: 30%;
    margin-bottom: 2em;
    transition: transform .4s; /* Animation */

}

.level2pic:hover {
    transform: scale(1.10);
    filter: drop-shadow(0 0 10px rgba(0, 5, 0.319));
}

.level3pic {
    width: 30%;
    margin-bottom: 2em;
    transition: transform .4s; /* Animation */

}

.level3pic:hover {
    transform: scale(1.10);
    filter: drop-shadow(0 0 10px rgba(0, 5, 0.319));
}

/******************************* Images *****************************/

.tempimg {
    width: 100%;
    height: 90%;
}

/* img {
      filter: drop-shadow(0 0 0.75rem crimson);
  } */

.ying {
    margin-bottom: 3em;
}

.levelbox {
    border: 3px solid rebeccapurple;
    border-radius: 17px;
    padding: 4.5em;
    background-color: rgba(240, 248, 255, 0.329);
    margin-bottom: 2em;
    margin-top: -4em;
}

.taskbox {
    border: 3px solid rebeccapurple;
    border-radius: 17px;
    padding-bottom: 2em;
    padding-top: 4.5em;
    background-color: rgba(240, 248, 255, 0.329);
    width: 30em ; /* Adjust this value to make the box smaller */
    margin-bottom: 3em;
    
  }


  .taskcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


.textbox {
    border: 2px solid black;
    padding: 1.4em;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: rgba(245, 245, 245, 0.619);
    border-radius: 15px;
    text-align: center;
    width: 46vw;
    margin-left: 23%;
    font-size: 1.2em;
}

/******************************* Task Text *****************************/

.tasklist {
    width: 100%;
    height: 160vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 4em;
    padding-bottom: 10em;
}

.texttask {
    width: 100%;
    height: 160vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 4em;
    padding-bottom: 10em;
}



.textcard {
    text-align: left;
    margin-top: 2em;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcardtext {
    margin-top: 5em;
    font-size: 1.2em;
    text-align: left;
}

.whenfinished {
    margin-top: 3em;
}


/******************************* Tasks by Level *****************************/

.videotask {
    width: 100%;
    height: 160vh;
    background-image: url('https://zen-path-react.web.app/images/peakpx9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 4em;
    padding-bottom: 10em;
}

.viddiv {
    text-align: center;
    justify-content: center;
    border: 3px solid black;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 8px;
    border-radius: 15px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.394);
}


.form {
    text-align: center;
}



.checkbox {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    text-align: center;
}